html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul
{
    margin-top: 0;
}

.block {
    width: 300px;
    background: antiquewhite;
    padding: 20px;
    border: 2px solid red;
    margin: 20px;
}

.inline {
    width: 300px;
    background: antiquewhite;
    padding: 20px;
    border: 2px solid red;
    margin: 20px;
}

/* Поведінка inline-block */
.menu {
    font-size: 0;
    /* display: inline-flex; */
    display: flex;
}

.menu-item {
    /* display: inline-block; */
    /* width: 100px; */
    background: antiquewhite;
    padding: 10px;
    margin: 0px;
    font-size: 24px;
}

.menu-link {
    padding: 10px 20px;
}

/* < !-- Зображення --> */
.img-wrap {
    width: 200px;
    background-color: rgba(226, 214, 214, 0.541);
}

.content {
    background-color: azure;
}

/* container */
.section {
    background: yellowgreen;
    /* padding-top: 150px; */
}

.container {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* структурні псевдокласи */

/* .section p:last-child{
    margin-bottom: 0;
} */

/* .section p:first-child{
color: azure;
} */

/* .section p:nth-child(2){
color: azure;
} */

/* .section p:nth-child(2n){
color: azure;
} */

/* .section p:nth-child(n+2){
color: azure;
} */

/* .section p:nth-child(n+3) {
    color: azure;
} */

/* .section p:nth-last-child(n+3) {
    color: azure;
}  */


.item {
    display: inline-block;
    background-color: blue;
    padding: 10px 15px;
    /* margin-right: 50px; */
}

.section li:last-child{
    /* margin-right: 0; */
} 

.item:not(:last-child){
margin-right: 50px;
}

.list{
    padding-left: 0;
    margin: 0;
}

.item:not(.red) {
  background-color: red;
}